OPENBLAS_NUM_THREADS=1
PYTORCH_ENABLE_MPS_FALLBACK=1
NO_PROXY='localhost, 127.0.0.1, ::1'
BASE_DATA_ROOT=/tmp
WEIGHT_ROOT=/tmp
WEIGHT_UVR5_ROOT=/app/assets/uvr5_weights
INDEX_ROOT=/tmp
RMVPE_ROOT=/app/assets/rmvpe
#MODELS_METADATA_FILE=/app/models.json

# set those variables for local development
#VC_BUCKET=
#MODELS_BUCKET=
#MODELS_ACCESS_KEY_ID=
#MODELS_SECRET_ACCESS_KEY=
#CF_ACCOUNT_ID=
#CF_DB_WORKER_API_TOKEN=
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#APP_ENV=
#MODELS_METADATA_URL=
